*{
    margin: 0;
    padding: 0;
    box-sizing: ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(17, 15, 15);
    
    
    height: 100vh;
    
    color: white;
}
header{
    background-color: rgb(105, 42, 206);
}

a{
text-decoration: none;
color: rgb(242, 243, 250);
text-align: right;

}


.navbar .logo{
    font-size: 30px;
    
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin-left: 35px;
    list-style: none;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500px;
    transition: 1s;
}
.navbar ul li a:hover{
    color: chartreuse;
}
.active li a{
    margin: 0 8px;
    display: inline-flex;
    padding: 8px;
    border-radius: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    transition: 0.5s;
}
.active li a:hover{
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}
.img-sci{
    width: 32vw;
    height: 40vw;
    background-color: aquamarine;
    border-radius: 20%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.btn-sci{
    display: flex;
    align-items: center;
    

}
.btn-sci{
    margin: 0 8px;
    display: inline-flex;
    padding: 8px;
    border-radius: 2px solid #7cf03d;
    border-radius: 10%;
    font-size: 10px;
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #1f242d;
    
}
.p-section{
    background-color: rgb(199, 155, 101);
    border-radius:10px ;
    
}
.sci{
     background-color: rgb(143, 207, 231);
    border-radius:10px ;
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: white;

}

.h1{
  font-size: 55px;  
}

.h2{
  font-size: 32px;
  margin-top: 10px;  
}
footer{
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
}
